<mat-card class="card-width">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <table class="device-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field >
            <input
            class="deviceId"
              matInput
              type="text"
              name="title"
              [ngModel]="post?.title"
              #title="ngModel"
              required
              placeholder="Device Id"
            />
            <mat-error *ngIf="title.invalid">Please enter the title !!</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <br><br>
    

    <!-- <mat-form-field>
      <input
        matInput
        rows="3"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Is Active"
        #content="ngModel"
      />

      <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
    </mat-form-field> -->

      <!-- <label for="isActive">Is Active</label> -->
      <h1><b>Is Active</b></h1>
      <br>

      <mat-radio-group aria-label="Select an option" id="isActive">
        <mat-radio-button value="1">Active</mat-radio-button>
        <mat-radio-button value="2">In-Active</mat-radio-button>
      </mat-radio-group>

    
        <br><br><br>
        <!-- <label for="information">Information</label> -->
        <h1><b>Information</b></h1>
        <table class="information-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  id="information"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Name"
                  #content="ngModel"
                />
                
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>

            <td  class="information-margin">
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Type"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        

        
        <hr>
        <h2><b>Capacity</b></h2>
        <table class="capacity-width" cellspacing="0"><tr>
          <td>
            <mat-form-field>
              <input
                matInput
                rows="3"
                name="content"
                [ngModel]="post?.content"
                required
                placeholder="AC"
                #content="ngModel"
              />
    
              <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field>
              <input
                matInput
                rows="3"
                name="content"
                [ngModel]="post?.content"
                required
                placeholder="DC"
                #content="ngModel"
              />
              <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
            </mat-form-field>
          </td>
        </tr></table>
        
        <hr>
        <table class="other-width">
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Serial No"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Location"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Manufacture"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Model"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Device Type"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <input
                  matInput
                  rows="3"
                  name="content"
                  [ngModel]="post?.content"
                  required
                  placeholder="Parsing Version"
                  #content="ngModel"
                />
                <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <br><br>
        <mat-form-field class="description-width">
          <textarea
            matInput
            rows="4"
            name="content"
            [ngModel]="post?.content"
            required
            placeholder="Description"
            #content="ngModel"
          ></textarea>
          <mat-error *ngIf="content.invalid">Please enter the content !!</mat-error>
        </mat-form-field>

    <br /><br />
    <hr />
    <br />
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" type="submit">Submit</button>
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
    </mat-dialog-actions>
  </form>
</mat-card>
